<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
    <script>
        //document.getElementById("theChatBox").scrollTop = document.getElementById("theChatBox").scrollHeight;

        function ChatController($scope) {
            var socket = io.connect();

            //$scope.messages = []
            //$scope.roster = [];
            //$scope.name = '';
            //$scope.text = '';
            $scope.uname = '';
            $scope.pword = '';
            $scope.serverip = '';
            $scope.serverport = '';
            $scope.msg = '';
            $scope.chatbox = '';

            // socket.on('connect', function () {
            //   $scope.setName();
            // });

            // socket.on('message', function (msg) {
            //   $scope.messages.push(msg);
            //   $scope.$apply();
            // });

            // socket.on('roster', function (names) {
            //   $scope.roster = names;
            //   $scope.$apply();
            // });

            socket.on('chatbox', function(msg) {
                if (!$scope.chatbox) {
                    $scope.$apply(function() {
                        $scope.chatbox = msg + "\n";
                    });
                } else {
                    $scope.$apply(function() {
                        $scope.chatbox = $scope.chatbox + msg + "\n";
                    });
                }
            });

            $scope.chat = function chat() {
                socket.emit('chat', $scope.msg);
                $scope.msg = '';
            };

            $scope.login = function login() {
                //TODO: encrypt password
                socket.emit('login', [$scope.uname, $scope.pword, $scope.serverip, $scope.serverport]);
            };

            $scope.leave = function leave() {
                socket.emit('leave');
            };

        }
    </script>
</head>

<body>
    <div class="container" ng-controller="ChatController">
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="pull-right">
                    <a href="https://github.com/Skepter/WMcChat2" class="brand">WMcChat2</a>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h1>Minecraft for the web</h1>
        </div>
        <div class="row">

            <!-- Login -->

            <div class="panel panel-primary row controls">
                <div class="panel-heading">Login to server</div>
                <div class="panel-body">
										<form action="http://127.0.0.1:3000/myaction" method="get">
												<input type="text" name="text1" class="form-control" placeholder="insert text here">
												<input type="submit" class="btn btn-primary" value="Send">
										</form>
                    <form ng-submit="login()" action="http://127.0.0.1:3000/myaction" method="get">
											
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Username</label>
                            <div class="controls">
                                <input type="text" id="uname" class="form-control" ng-model="uname" placeholder="Username or email">
                            </div>

                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                                <input type="password" id="pword" class="form-control" ng-model="pword" placeholder="Password">
                            </div>

                            <label class="control-label" for="serverInfo">Server information (Leave port blank for default port)</label>
                            <div class="controls">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="serverip" placeholder="Server IP">
                                    <span class="input-group-addon">
																				<input type="text" ng-model="serverport" placeholder="Server port (25565)">
																		</span>
                                </div>
                            </div>

                            <div class="controls">
                                <input type="checkbox"> Remember me
                                <br><br>
                                <input type="submit" class="btn btn-primary" value="Log in">
                                <form ng-submit="leave()">
                                    <input type="submit" class="btn btn-danger" value="Disconnect">
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <br>
            <!--Text box -->
            <textarea class="form-control" rows="10" ng-model="chatbox" ng-bind="chatbox" id="theChatBox"></textarea>
            <form ng-submit="chat()">
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Message to send to server</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="msg" placeholder="Chat">
                        <span class="input-group-btn">
																<input type="submit" class="btn btn-primary" value="Send" ng-disabled="!msg">
														</span>
                    </div>
                </div>
            </form>




            <!-- Roster stuff thing
				<div class="span4">
					<ul class="nav nav-list well">
						<li class="nav-header">Online Players</li>
						<li ng-repeat="user in roster" ng-bind="user"></li>
					</ul>
				</div>
				<div class="span9">
				-->

            <!-- Messaging -->

        </div>
    </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
</body>

</html>