<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>

<body>
    <div class="container" ng-controller="ChatController">
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="pull-right">
                    <a href="https://github.com/Skepter/WMcChat2" class="brand">WMcChat2</a>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h1>Login to your Minecraft account</h1>
        </div>
        <div class="row">

            <div class="panel panel-primary row controls">
                <div class="panel-heading">Login to server</div>
                <div class="panel-body">
                    <form action="http://127.0.0.1:3000/myaction" method="get">
                        <input type="text" name="text1" class="form-control" placeholder="insert text here">
                        <input type="submit" class="btn btn-primary" value="Send">
                    </form>
                    <form ng-submit="login()" action="http://127.0.0.1:3000/myaction" method="get">
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Username</label>
                            <div class="controls">
                                <input type="text" id="uname" class="form-control" ng-model="uname" placeholder="Username or email">
                            </div>

                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                                <input type="password" id="pword" class="form-control" ng-model="pword" placeholder="Password">
                            </div>

                            <label class="control-label" for="serverInfo">Server information (Leave port blank for default port)</label>
                            <div class="controls">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="serverip" placeholder="Server IP">
                                    <span class="input-group-addon">
										<input type="text" ng-model="serverport" placeholder="Server port (25565)">
									</span>
                                </div>
                            </div>

                            <div class="controls">
                                <input type="checkbox"> Remember me
                                <br><br>
                                <input type="submit" class="btn btn-primary" value="Log in">
                                <form ng-submit="leave()">
                                    <input type="submit" class="btn btn-danger" value="Disconnect">
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
</body>

</html>